<nav class="navbar navbar-light">
  <div class="container">
    <!-- <a class="navbar-brand" href="index.html" [class]="{highlight: isHighlight}">conduit</a> -->
    <!-- <a class="navbar-brand" href="index.html"
      [class.highlight]="isHighlight"
      [style]="{'font-size': fontSize + 'px'}"
    >conduit</a> -->
    <a class="navbar-brand" href="index.html"
      [class.highlight]="isHighlight"
      [style.font-size.px]="fontSize"
    >conduit</a>
    <input
      [(ngModel)]="keyword"
      class="form-control form-control-sm search-input" type="text" placeholder="Keyword">

    <!-- <input
      [ngModel]="keyword"
      (ngModelChange)="keyword = $event"
      class="form-control form-control-sm search-input" type="text" placeholder="Keyword">   -->

    <button class="btn btn-sm btn-primary" (click)="search($event)">
      <i class="ion-search"></i>
    </button>
    <span class="highlight">
      <!-- <ng-container *ngIf="!keyword; else yourKeyword">請輸入關鍵字</ng-container>

      <ng-template #yourKeyword>
        你輸入的關鍵字：{{ keyword }}
      </ng-template> -->

      <ng-container *ngIf="!keyword; then noKeyword; else yourKeyword"></ng-container>

      <ng-template #noKeyword>
        請輸入關鍵字
      </ng-template>

      <ng-template #yourKeyword>
        你輸入的關鍵字：{{ keyword }}
      </ng-template>
    </span>
  </div>
</nav>
